.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.item {
    color: aliceblue;
    text-decoration: none;
}


.active {
    color: greenyellow;
    text-decoration: none
}